@font-face {
    font-family:'loool';
    src:url("Flexi_IBM_VGA_False.ttf");
   }

body {
  background-color: #e4e4e4;
  font-family: loool;
  width: 100vw;
  margin: 0;
}

.shake {
  animation: shake 0.1s 10s;
  animation-iteration-count: 5;
}

.tv-img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  position: absolute;
  inset: 50% 0 0 50%;
  animation: move 3s, shake 0.2s 10s;
  z-index: -1;
}

.hole, .link {
  position: absolute;
  background-color: #000;
  width: 100px;
  height: 100px;
  inset: 0;
  clip-path: polygon(
    53% 0,
    85% 14%,
    80% 34%,
    92% 46%,
    73% 61%,
    73% 84%,
    34% 76%,
    31% 55%,
    10% 41%,
    44% 28%
  );
  display: none;
}

a {
  position: absolute;
  width: 100px;
  inset: 0;
  margin-left: 80px;
  margin-top: 140px;
  display: none;
  height: 100px;
}

.show {
  display: block;
}

@keyframes shake {
  from {
    transform: translate(0);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-2px, -3px) rotate(0deg);
  }
  30% {
    transform: translate(-3px, -4px) rotate(1deg);
  }
  40% {
    transform: translate(-4px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(-5px, -5px) rotate(-2deg);
  }
  60% {
    transform: translate(-4px, -6px) rotate(2deg);
  }
  70% {
    transform: translate(-3px, -5px) rotate(0deg);
  }
  80% {
    transform: translate(-2px, -4px) rotate(1deg);
  }
  90% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  100% {
    transform: translate(-1px, -2px) rotate(0deg);
  }
}

@keyframes move {
  from {
    transform: translate(350px, 70px);
  }
  to {
    transform: translate(0);
  }
}

/* Fix media query for TV */
/* typewriter */

.box {
  margin-top: 50vh;
}

.typewriter,
.writing,
.typewriter2 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.writing {
  animation: blink 0.6s steps(10);
  animation-iteration-count: 5;
  color: #e4e4e4;
  animation-delay: 6s;
}

.typewriter::before,
.typewriter::after,
.typewriter2::before,
.typewriter2::after {
  content: "";
  position: absolute;
  inset: 0;
}

.hidden {
  display: none;
}

.typewriter::before {
  background: #e4e4e4;
  animation: typewriter 1s steps(10) forwards 3s;
}

.typewriter::after {
  background: #000;
  width: 8px;
  animation: typewriter 1s steps(10) forwards 3s;
}

.typewriter2::before {
  background: #e4e4e4 !important;
  animation: typewriter2 1s steps(8) forwards 8s,
    typewriter3 1s steps(4) forwards 9.5s;
}

.typewriter2::after {
  background: #e4e4e4;
  width: 8px;
  animation: typewriter2 1s steps(8) forwards 8s,
    typewriter3 1s steps(4) forwards 9.5s;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter2 {
  from {
    background: #000;
    left: 0%;
  }
  to {
    background: #000;
    left: 65%;
  }
}

@keyframes typewriter3 {
  from {
    background: #000;
    left: 65%;
  }
  to {
    background: #000;
    left: 100%;
  }
}
@keyframes blink {
  from {
    color: #000;
  }
  to {
    color: #000 !important;
  }
}
