body{
  background-image: url("./cat.jpg");
  background-size: cover;
}

h1{
  margin-top: 25vh;
  text-align: center;
  color:#000;
  animation: colors 3s infinite;
  font-size: 100px;
}

@keyframes colors {
  0%  {color: #9400D3;}
  25% {color: #4B0082}
  40% {color: #0000FF}
  55% {color: #00FF00}
  70% {color: #FFFF00}
  85% {color: #FF7F00}
  100% {color: #FF0000}
}

